.vscode/
simpleperf
simpleperf.o
/boosted-pir
rpc_server
rpc_client
boosted-pir.exe
.vscode/launch.json
.*.swp
prof.out
boosted-pir.test
rpc_client.exe
rpc_server.exe
wiki/
compare/percy++-1.0.0/
compare/ntl-11.4.1/
/compare/SEAL
/compare/SealPIR
prof*.svg
profile.out
proxy/proxy.exe
compare/fig/*.pdf
compare/fig/__pycache__/
/*.pdf
/*.csv
/*.tsv
/*.txt
/.ipynb_checkpoints/
*.out
/stress
/*.exe
*.prof
*.o
*.a
*.exe
/psetggm/tests/test_pset
/psetggm/tests/test_distinct
/psetggm/tests/test_xor
/sbproxy
/sbserver
/*.log
